@model Nishkriya.Models.ForumAccount

@{
    ViewBag.Title = "Details";
}

<h2>Posts by: @Model.Name</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_Post", post)
    }
</div>
