@model Nishkriya.Models.ViewModels.ThreadViewModel

<h2><a href="@Model.Url">@Html.Raw(Model.Title)</a></h2>

@foreach (var post in @Model.Posts.OrderBy(p => p.PostDate) )
{   
       @Html.Partial("_Post", post)

}