@model IEnumerable<Nishkriya.Models.Thread>

<h2>Latest Topics</h2>

<dl>

    @foreach (var thread in @Model)
    {
        <dt>@Html.ActionLink(@thread.Title,"Details","Threads",new{id = thread.ThreadId}, new {})</dt>
        <dd>
            Posts:@thread.Posts.Count() <br/>

            Last Post:  @thread.Posts.OrderBy(p => p.PostDate).Last().TimeSincePost()  by @thread.Posts.OrderBy(p => p.PostDate).Last().ForumAccount.Name  <br/>
            &nbsp;
        </dd>
    }

</dl>