@model IEnumerable<Nishkriya.Models.Thread>

<h2>All Topics</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Posts&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Last Post &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Poster;</th>
    </tr>
    @foreach (var thread in @Model)
    {
        @Html.Partial("_Thread", thread)    
    
    }
</table>

@Html.Partial("_Paginator",(Nishkriya.Models.ViewModels.PaginatorViewModel) ViewBag.Paginator)