body {
padding-top: 15px;
padding-bottom: 15px;
}
.sidebar-nav {
padding: 9px 0;
}

/*-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.quote {
    margin: 10px;
    padding: 10px;
    background-color: gainsboro;
}


.quote {
    margin: 10px;
    padding: 10px;
    border: 1px dashed #3F3F3F;
    background-color: gainsboro;
}

.yafsignature {
    display: none;
}

.developer-quote {
    margin: 10px;
    padding-bottom: 15px;
    /*border-bottom: 1px solid #3f3f3f*/
}

.developer-container {    
    margin-left: 10px;
        
}

.stats-table {
    margin-bottom: 20px;
}

.stats-table th {
    text-align: left;
    background-color: gainsboro;
}

.stats-table td {
    min-width: 100px;
}

.spoilerbutton {
    display: none;
}

.spoilerbox {
    background:black;
    color: black;
    display: block;
}
.spoilerbox:hover {
    background:transparent;
    color: rgb(51, 51, 51);
    display: block;
}

.top-bar-login {
    margin-bottom: 10px;
    padding: 4px 12px;
}
