body {
padding-top: 15px;
padding-bottom: 15px;
}
.sidebar-nav {
padding: 9px 0;
}

/*-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.quote {
    padding: 5px;
    border: 1px dashed #5F5F5F;
    background-color: gainsboro;
}

.yafsignature {
    display: none;
}

.developer-quote h5 {
    margin: 0;
}

.post-subheader {
    margin: 0;
}

.developer-container {
    background-color: #f3f3f3;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.stats-table {
    margin-bottom: 20px;
}

.stats-table th {
    text-align: left;
    background-color: gainsboro;
}

.stats-table td {
    min-width: 100px;
}

.spoilerbutton {
    display: none;
}



.top-bar-login {
    margin-bottom: 10px;
    padding: 4px 12px;
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.fullscreen {
    width: 100% !important;
} 

.PhonePadding {
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
  .span12-phone {
    width: 100% !important;
  }
}

.spoilerText {
    cursor: pointer;
    color: #5f5f5f;
    background-color: #5f5f5f;
    max-height: 12em;
    overflow: hidden;
}

.spoilerText a {
    color: #5f5f5f;
    background-color: #5f5f5f;
}

.spoilerText img {
    visibility: hidden;
}

.spoilerText:hover {
    color: #333333;
    background-color: #f3f3f3;
    overflow: scroll;
}

.spoilerText:hover a {
    color: #0088CC;
    background-color: #f3f3f3;
}

.spoilerText:hover img {
    visibility: visible;
}

.spoilerText .innerquote {
    color: #5f5f5f;
    background-color: #5f5f5f;
}

.spoilerText .innerquote:hover {
    color: #333333;
    background-color: #dcdcdc;
}

.kickstarterNav {
    padding: 0px;
}

.kickstarterFrame {
    height: 380px;
}
