@model String
<br/>
<ul class="nav nav-list visible-desktop">
    <li class="nav-header">Kickstarter</li>                            
</ul>

<ul class="nav nav-list kickstarterNav visible-desktop">
    <iframe class="kickstarterFrame" frameborder="0" src="@Model"></iframe>                                                                    
</ul>