            <!--The sidebar -->
            <div class="span2">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Home</li>
                  <li><a href="#">Latest Topics</a></li>
                  <li class="active"><a href="#">Latest Posts</a></li>                  
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  
                  <li class="nav-header">View</li>
                  <li><a href="#">All Threads</a></li>
                  <li><a href="#">All Posts</a></li>
                  <li><a href="#">Posters</a></li>

                  <li class="nav-header">Posters</li>
                  <li><a href="#">Holden</a></li>
                  <li><a href="#">The Demented One</a></li>
                  <li><a href="#">Shadowdragon6865</a></li>
                  <li><a href="#">Raziere</a></li>

                </ul>
              </div><!--/.well -->
            </div><!--/span-->

