@model dynamic

<h2>About</h2>

<p>Nishkriya is a post tracker for the freelancers posting on WhiteWolfs Exalted forums. Named for Nishkriya the Shinma of conflict who is imperturbably at peace</p>

<h4>How does it work?</h4>
<p>Nishkriya regularly checks the last 10 posts made by those posters it is tracking, then adds those to its own database. Because of that the oldest posts can be somewhat inconsistent. Nishkriya picked up much older posts for those who don't post very frequently. In theory Nishkriya could probably work for most YAF forums and you should feel free to fork it and do adjust it as needed for your own use.</p>

<h4>License</h4>
<pre>Copyright (c) 2013, Stefan van Oudenaarden <s.oudenaarden@gmail.com>
                    ProfessionalNihilist <professionalnihilist@gmail.com>

Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</pre>