@model dynamic

<h2>About</h2>

<p>Nishkriya is a post tracker for the freelancers posting on WhiteWolfs/Onyx Path Exalted forums. Named for Nishkriya the Shinma of conflict who is imperturbably at peace</p>

<h4>How does it work?</h4>
<p>Nishkriya regularly checks the posts made by those posters it is tracking, then adds those to its own database. Because the oldest posts are still from the old YAF based WhiteWolf forums they can be a little inconsistent. </p>

<h4>Spoilers</h4>
<p>Spoilers are by default hidden and given a maximum size. When moused over they turn visible and allow you to scroll. Clicking the spoiler will make it visible as normal.</p>

<h4>Cookies</h4>
<p>Nishkriya uses cookies to keep track of when you visited the site so it can display the right posts on the New Content page. If you disable those cookies it will instead show the last 8 hours of activity.</p>

<h4>License</h4>
<pre>Copyright (c) 2013, Stefan van Oudenaarden <s.oudenaarden@gmail.com>
                    ProfessionalNihilist <professionalnihilist@gmail.com>

Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</pre>