@model dynamic

<h2>Contact</h2>

<h4>Github</h4>
<p>
    You can find Nishrkiyas source and an issue tracker on <a href="https://github.com/Xesyto/Nishkriya">Github</a>.
</p>

<h4>Twitter</h4>
<p>
    These are our twitter accounts:
    <ul>
        <li><a href="https://twitter.com/ProNihilist">@@ProNihilist</a></li>             
        <li><a href="https://twitter.com/MoonWolfCrn">@@MoonWolfCrn</a></li>
    </ul>
</p>

<h4>Irc</h4>
<p>
    One or both of us can generally be found in #exalted on irc.sorcery.net. You can visit through <a href="http://chat.mibbit.com/?channel=%23exalted&server=irc.sorcery.net">Mibbit</a>
</p>

<h4>The Forums</h4>
<p>
    Or if all that fails you can try contacting us on the Exalted Forums:    
    <ul>
        <li><a href="http://forums.white-wolf.com/default.aspx?g=profile&u=4734">Anathema</a></li>   
        <li><a href="http://forums.white-wolf.com/default.aspx?g=profile&u=9868">MoonWolf</a></li>
    </ul>
</p>