@model dynamic

@{
    ViewBag.Title = "Home";
}

<div>
    <h2>Most Recent Posts</h2>
    @foreach (var post in ViewBag.posts)
    {   
        <div class="developer-container">
            <h3><a href="http://forums.white-wolf.com/default.aspx?g=posts&t=@post.ThreadId" target="_blank">@post.PostTitle</a></h3>
            <h5>@post.ForumAccount.Name - @post.PostDate.ToString()</h5>
            <div class="developer-quote">
                @Html.Raw(post.Content)
            </div>
        </div>
    }
</div>