@model dynamic

@{
    ViewBag.Title = "Home";
}

    <h2>Lorem Ipsum</h2>

    <p>Nunc sed augue vel velit ullamcorper volutpat. Cras vulputate feugiat sapien eget lacinia. Ut in quam nibh, sit amet suscipit sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ultrices aliquet diam, in convallis mauris congue rutrum. Vivamus sodales sem quis risus pharetra fringilla. Aliquam sit amet tortor neque, porttitor mattis risus. Morbi sagittis arcu nec nisi bibendum vulputate. Curabitur at urna et ipsum lacinia sodales. Duis eget tincidunt lorem. Mauris diam nisl, bibendum vel pharetra non, fermentum eget mi. Ut pharetra enim eu lacus posuere faucibus. Proin metus quam, convallis sed pharetra ut, malesuada eu orci. Donec porta cursus fringilla. Ut consequat, velit et luctus semper, risus quam aliquam magna, quis venenatis augue neque et lacus. </p>