@using Nishkriya.Models
@model IEnumerable<ScraperSession>

@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<table>
    <thead>
        <tr>
            <td>Started</td>
            <td>Finished</td>
            <td>Duration</td>
            <td>Posts Added</td>
            <td>Threads Added</td>
            <td>Errors</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.OrderByDescending(m => m.Start))
        {
            @Html.Partial("_Session", session)
        }
    </tbody>
</table>